# Ignore temporary and virtual environment files
tmp/
.env
.venv/

# Ignore compiled Python files
__pycache__/
.pytest_cache/

# Ignore cache files (ruff, VS Code, etc.)
.ruff_cache/
.vscode/

# Ignore data files (parquet, CSV, JSON, logs, cbm)
**/*.parquet
**/*.csv
**/*.json
**/*.log
**/*.cbm

# Ignore the 'data' directory completely
data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model directory
models/

# Ignore CatBoost's internal information files
catboost_info

# Ignore egg info from catboost_incremental
**/catboost_incremental.egg-info

# Remove .DS_Store files
.DS_Store
